{% extends "base.html" %}

{% block content %}
<div class="container mt-2">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">

            {% if refresh %}
            <div class="d-inline">
            <h1 class="display-4">{{ stock.name }}</h1>

            </div>
            {% else %}
            <h1 class="display-4">{{ stock.name }}</h1>
                      <a class="btn btn-primary btn-lg" href="{% url 'collect-stock-data-endpoint' stock.ticker %}">Refresh Stock data</a>
            {% endif %}

            {% if stock.latest_data.change_perc > 0 %}
            <p class="lead">{{ stock.latest_data.adj_close }}
                <small class="text-success">{{ stock_data.change_perc }}% <i class="fas fa-sort-up"></i></small>
            </p>
            {% else %}
            <p class="lead">{{ stock.latest_data.adj_close }}
                <small class="text-danger">{{ stock_data.change_perc }}% <i class="fas fa-sort-down"></i></small>
            </p>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row mt-5 bg-light">
        <h4 class="display-4">Technical Indicators <small class="text-muted">(Non-adjusted Data)</small></h4>
        {% if ti_chart %}
        {{ ti_chart|safe }}
        {% else %}
        <p>Chart cannot be displayed</p>
        {% endif %}
    </div>

</div>

{% endblock %}